/* CSS font-callups: 
	font-family: 'Fugaz One', cursive;
	font-family: 'PT Sans', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif; */
	
/* Color Palette (ordered darkest to lightest):

Purple : Darkest - #5D016D
		 Dark - #70227E
		 Normal - #8F04A8
		 Light - #BC38D3
		 Lightest - #C262D3
		 
Green :  Darkest - #519600
		 Dark - #71AD2B
		 Normal - #7CE700
		 Light - #9FF33D
		 Lightest - #B5F36D
		 
Yellow : Darkest - #A69200
		 Dark - #BFAE30
		 Normal - #FFE100
		 Light - #FFE840
		 Lightest - #FFEE73
*/

body {
	width: 790px;
	margin: 0 auto;
	background-color: #570166;
	/*background-color: #8F04A8;*/
}

a {
	color: #9CC4E5;
	text-decoration: none;
	line-height: 1.5;
}

a:link{
	border-bottom: 2px dotted #9CC4E5;
	color: red;
}

a:visited{
	color: purple;
}

a:hover{
	color: green;
	border-bottom: none;
}

a:active{
	color: blue;
	border-bottom: none;
}

#logo {
	float: left;
	width: 240px;
}
/* Navigation */

nav {
	float: right;
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 21px;
	border-top: 1px solid #39322D;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

li {
	border-bottom: 1px solid #39322D;
	display: inline;
}

/* Heading traits inherited*/

h1 {
	font-family: 'Fugaz One', cursive;
	float: left;
	padding-left: 15px;
}
	
h2 {
	clear: both;
	font-family: 'PT Sans', sans-serif;
	color: #7CE700; 
}

h3 {
	color: #9FF33D;
	font-family: 'PT Sans';
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}

span {
	margin-left: 15px;
}
article {
	background-color: #C262D3;
	border: 4px solid #FFF;
	border-radius: 8px;
	box-shadow: 3px 3px 6px #111;
	clear: left;
	float: left;
	margin: 20px 10px 20px 15px;
	padding: 0px 15px;
	width: 452px;
}

article h2 {
	color: #FFE840;
	text-shadow: 3px 2px 1px #000;
}

article h3 {
	color: white;
}

article p {
	color: #FFE100;
	font-size: 16px;
	line-height: 1.5;
}

.summary {
	background-color: #BC38D3;
	box-shadow: 2px 2px 2px #111;
	border: 1px solid #000;
	font-family: 'PT Sans Narrow';
	font-style: normal;
	font-weight: bold;
	padding: 6px  16px;
}

.continue_reading {
	padding: 10px 0px 0px 5px;
}

/* Sidebar stuff */

#sidebar h1 {
	color: white;
	text-shadow: 3px 3px 2px #000; 
}

.box_1 {
	background-color: #97083F;
	border: 4px solid #FFF;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	float: right;
	margin: 20px 15px auto 0px;
	width: 244px;
}

.box_2 {
	background-color: #71AD2B;
	border-bottom: 4px solid #FFF;
	border-left: 4px solid #FFF;
	border-right: 4px solid #FFF;
	clear: right;
	float: right;
	margin: 0px 15px auto 0px;
	width: 244px;
}

footer {
	clear: both;
	margin-left: 35px;
	color: white;
}